

h1 {
    color: white;
    size: 100px;
    text-align: center;
}

body {
    background-color:steelblue;
    text-align: center;
}

.operatorBtn {
    width: 40px;
    height: 40px;
    background-color: orange;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }  

button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }

.button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 12px;
    margin: 0 auto;
  }

#calculator {
    text-align: center;
    background-color: black;
    padding: 15px;
    width: 200px;
    margin: 0 auto;
}

#display {
    height: 20px;
    font-family: Arial, sans-serif;
    border-radius: 20px;
    max-width: 500px;
    overflow: hidden;
}